@import "tailwindcss";

:root {
  font-family: "Asimovian", "Story Script", "Roboto Mono", sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: "Story Script", "Asimovian", "Roboto Mono", sans-serif;
}


